body{
    background-color:deepskyblue;
    
    background-image: url("https://www.itl.cat/pics/b/28/284523_full-hd-wallpapers.jpg");
    background-repeat: no-repeat;
    
    background-size: cover;
    width: 100%;
    height: 100%;


}